<li id="item_<%= item.id %>">
  <%= item.name %>
  <span class="glyphicon glyphicon-remove remove_item" aria-hidden="true" data-item_id=<%= item.id %>></span>
  <span class="glyphicon glyphicon-pencil edit_item" aria-hidden="true" data-item_id=<%= item.id %>></span>
  <div class="clear"></div>
</li>