<form id="new_item_form">
  <div class="form-inline">
    <label for="item_name">Name</label>
    <%= text_field_tag :item_name, '', name: 'item[name]', class: 'form-control' %>
    <a id="add_item_button" class="btn btn-primary">Add</a>
  </div>
</form>